html{
   scroll-snap-type:mandatory;
}
.App {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}
.app__top{
  margin-bottom: -150px;
}
.app_logo{
  height: 11vh;
}

.text1{
  color: white;
}
.app__vidoes{
  position:relative;
  height: 65vh;
  background-color: white;
  border-radius: 20px;
  width: 70%;
  max-width: 450px;
  max-height: 1200px;
  overflow: scroll;
  scroll-snap-type: y mandatory;

}

/*hide scrollBar for Chrome, Safari, Opera*/
.app__vidoes::-webkit-scrollbar {
display: none;
}

/*hide scrollbar for IE, edge and firefox*/
.app__vidoes{
  -ms-overflow-style: none;
  scrollbar-width: none;/*Firefox*/
}