.videoFooter {
    position: absolute;  
    justify-content: space-between;
    bottom: 0;
    color: white;
    display: flex;
    margin-bottom: 20px;
}

.vFT {
    margin-left: 10px;
    padding-bottom: 20px;
}